.h{
    color: red;
    padding: 50px;
    font-size: 25px;
    border: 2px solid purple;
    padding: 15px;
    margin: 15px;
  /*  visibility: hidden;*/
}

table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    width: 500px;
    text-align: center;
    color: blue;
    padding: 5px;
    border-style: dotted;
    border-color: fuchsia;
  
}

tr:nth-child(even){
    background-color: darkgrey;

}
.tn{ padding-top: 15px;}